.products {
  height: auto;
  background-color: var(--background-primary);
  margin-top: 100px;
  padding: 100px 50px;
  border-radius: 20px;
}
.products-col {
  margin-bottom: 40px;
  position: relative;
}
.products-col .products-col__newImg {
  position: absolute;
  top: 0;
  left: 0;
}
.products-link {
  font-size: 1.5rem;
  color: #96614f;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 42px;
  display: inline-block;
  width: auto;
  margin-bottom: 42px;
}
.products-link:hover {
  color: var(--primary-color-red);
  cursor: pointer;
  text-decoration: underline;
}
.products-title {
  line-height: 3.4rem;
  font-size: 3.3rem;
  font-weight: 300;
  font-style: italic;
  display: block;
  margin: 0 0 15px;
}
.products-item__img {
  width: 308px;
  height: 462px;
  object-fit: cover;
  border-radius: 8px;
}
.products-item__title {
  display: block;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 20px;
  font-weight: 300;
}
.products-item__price {
  display: flex;
  margin-left: 10px;
  align-items: baseline;
  flex-wrap: wrap;
}
/* slider slick */
.slick-disabled {
  display: none !important;
}
.products-col__wapper-content {
  color: var(--text-color);
}
.products-col__wapper-content:hover {
  color: var(--primary-color);
}

.products-item__price-old {
  display: block;
  margin-top: 20px;
  font-size: 1.3rem;
  color: #666;
  text-decoration: line-through;
}
.products-item__price-current {
  display: block;
  margin-top: 20px;
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 6px;
}
