.container-product-details {
  margin-top: var(--header-height);
  padding: 100px 60px 0px;
  margin-bottom: 100px;
}

.breadcrums {
  margin-bottom: 15px;
}
.breadcrums-gach {
  padding: 0 8px;
  font-size: 1.5rem;
  line-height: 2rem;
}
.breadcrums-link {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-color);
}
.breadcrums-link:hover {
  color: var(--primary-color-red);
  text-decoration: underline;
}

.P-details__list-img-link {
  cursor: pointer;
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 4px;
}
.P-details__list-img-small {
  width: 90px;
  height: 120px;
  border-radius: 8px;
}

.P-details__main-img {
  width: 100%;
  height: 800px;
  object-fit: contain;
  border-radius: 20px;
}
.P-details-right {
  padding-left: 100px;
}
.P-details-right__title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.P-details-right__quantity-SKU {
  display: flex;
  justify-content: space-between;
}
.P-details-right__sku {
  font-size: 1.5rem;
  line-height: 2rem;
}
.P-details-right__quantity {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #969696;
}
.P-details-right__price {
  margin-top: 10px;
}
.P-details-right__price-current {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #ff0000;
  margin-right: 8px;
}
.P-details-right__price-old {
  font-size: 1.6rem;
  line-height: 2rem;
  opacity: 0.4;
  text-decoration: line-through;
}
.P-details-right__select-swatches {
  padding: 22px 0;
  margin: 22px 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(195, 192, 172, 0.6);
}

.P-details-right__wrapper-img {
  margin-bottom: 20px;
}
.P-details-right__color-title {
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--primary-color);
}
.P-details-right__color-item {
  position: relative;
}
.P-details-right__color-item--active .P-details-right__color-item--img {
  border: 1px solid var(--primary-color-red);
}
.P-details-right__color-item--active .P-details-right__color-item--active-tich {
  display: block;
}
.P-details-right__color-item--active-tich {
  position: absolute;
  bottom: -44px;
  right: 5px;
  display: none;
}
.P-details-right__color-item--img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 4px;
}
.P-details-right__color-item--img:hover {
  border: 1px solid var(--primary-color-red);
}
.P-details-right__list-size {
  display: flex;
  font-size: 1.4rem;
  margin-left: 8px;
  color: var(--primary-color);
}
.P-details-right__item-size {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 4px;
}
.P-details-right__item-size span {
  font-size: 1.5rem;
  list-style: 2rem;
  color: #505252;
  margin-right: 4px;
}
.P-details-right__item-size--active-tich {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  display: none;
}
.P-details-right__item-size--active .P-details-right__item-size--active-tich {
  display: block;
}
.P-details-right__item-size--active {
  border: 1px solid var(--primary-color-red);
}
.P-details-right__quantity-area {
  display: flex;
  align-items: center;
}
.P-details-right__quantity-area-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 6px 12px;
}
.P-details-right__quantity-area-num {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  font-weight: 300;
  margin: 0 14px;
}
.P-details-right__wrap-addcart {
  display: flex;
  height: 48px;
  margin-top: 20px;
}
.P-details-right__addcart {
  border: none;
  outline: none;
  background-color: var(--btn-color);
  margin-right: 10px;
  color: #fff;
  border: 1px solid var(--btn-color);
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0 20px;
  cursor: pointer;
}
.P-details-right__wrap-description {
  margin-top: 20px;
}
.P-details-right__des-title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--btn-color);
}
.P-details-right__des-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
/* Review begin */
.wrap-product-star-reviews {
  width: 100%;
  margin-top: 30px;
}
.wrap-star-reviews {
}
.product-star__title {
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: #000;
  margin-bottom: 10px;
  font-weight: 300;
}
.product-star__summary {
  margin-bottom: 8px;
}

.product-star__summary-icon {
  color: #ffcd45;
  font-size: 2rem;
  margin-right: 2px;
}
.product-star__summary-icon:hover {
  color: #ffcd45;
}
.product-star__summary-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--text-color);
}
.product-star__write-rev {
  height: 34px;
  width: 136px;
  background: transparent;
  border: 1px solid #956151;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 3.4rem;
  text-align: center;
  letter-spacing: 0px;
  color: #96614f;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  float: right;
}
.product-star__write-rev:hover {
  cursor: pointer;
}
.product-star__write-rev-icon {
  margin-right: 4px;
}
.wrap-cmt-reviews {
  padding: 18px 0 8px;
  border-bottom: 1px solid #eee;
}
.cmt-reviews__label {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--text-color);
  border-bottom: 3px solid currentColor;
  font-weight: 700;
  padding: 8px 0;
}
.cmt-reviews__count {
  background: #eee;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--text-color);
}
/* Review End */
.container-rate {
  overflow: scroll;
  scroll-behavior: smooth;
  max-height: 800px;
  overflow-x: hidden;
}
.rate-card__wrapName {
  display: flex;
  align-items: center;
}
.rate-card__name {
  font-size: 1.4rem;
  font-weight: 500;
}
.rate-card__timed {
  font-size: 1.3rem;
  color: #999;
  margin-left: 10px;
}
.rate-card__desc {
  margin-top: 10px;
  font-size: 1.4rem;
}
.container-rate-header {
  height: 150px;
  border: 1px solid #999;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.rate-header-left {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rate-header-left__wrap-total {
  display: flex;
  align-items: center;
}
.rate-header-left__totalPercent {
  font-size: 3.8rem;
  color: #ffb92e;
  margin-bottom: 0;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.rate-header-left__title {
  font-size: 1.4rem;
  margin-top: 10px;
  color: #888;
}

.rate-header-center {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #999;
  border-top: none;
  border-bottom: none;
  margin: 10px 0;
}
.rate-header-center__wrap {
  display: flex;
}
.rate-header-center__title {
  margin-bottom: 0;
  font-size: 1.6rem;
  margin-right: 6px;
}
.rate-header-center__loading {
  width: 70%;
  background-color: rgb(179, 179, 179);
  border-radius: 4px;
  margin: 0 10px;
  overflow: hidden;
}
.rate-header-center__loading-color {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  background-color: #ffb92e;
  color: #ffb92e;
}
