.account-wrap {
  margin: var(--header-height) 0 10px;
  padding: 100px 0;
  background-color: var(--background-primary-2);
}
.account__title {
  font-size: 3.3rem;
  line-height: 4rem;
  color: var(--text-color);
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 38px;
  text-align: center;
}
.account-left__list {
  list-style: none;
}
.account-left__list li + li {
  border-top: 2px solid rgba(195, 192, 172, 0.6);
  padding-top: 15px;
  margin-top: 15px;
}
.account-left__item {
  padding-bottom: 20px;
}
.account-left__item-title {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.4px;
  margin-bottom: 12px;
  font-weight: 300;
}
.account-left__item-link {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: var(--text-color);
}
.account-left__item-link--active,
.account-left__item-link:hover {
  color: #96614f;
}
.account-left__wrap-gender {
  margin-bottom: 22px;
  display: flex;
  align-items: center;
}
#account-left__registerRadio1,
#account-left__registerRadio2 {
  margin: 0 8px;
}
.account-left__Radio-label {
  font-size: 1.5rem;
  line-height: 2.1rem;
}
.account-left__submit-btn {
  text-decoration: underline;
  font-size: 1.5rem;
  line-height: 2.1rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: #96614f;
  text-transform: capitalize;
  padding: 0;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.container-btnAccount {
  display: flex;
  justify-content: left;
}
.info-wrap {
  width: 600px;
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #999;
}
