.container-updatepassword {
  width: 600px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 1px #999;
  border: 1px solid #999;
  border-radius: 8px;
}
.container-updatepassword input:nth-child(1) {
  margin-top: 10px;
}
