.header {
  height: var(--header-height);
  background-color: var(--primary-color);
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
}
.header-logo {
  line-height: var(--header-height);
  overflow: hidden;
  border-radius: 20px;
}
.header-logo__img {
  height: 66px;
}
.header-nav__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  margin-left: 40px;
}
.header-nav__item {
  display: flex;
  align-items: center;
  position: relative;
}
.header-nav__item-link {
  color: var(--white-color-header);
  font-size: 1.6rem;
  padding: 22px 10px;
}

.header-nav__item-link:hover {
  color: var(--primary-color-red);
  cursor: pointer;
}
.header-nav__item-link--active {
  color: var(--primary-color-red);
  border-bottom: 3px solid var(--primary-color-red);
  animation: borderHeader linear 0.3s;
}

@keyframes borderHeader {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.header-right {
  display: flex;
  align-items: center;
}
.header-right__search {
  display: flex;
  width: 250px;
  height: 3rem;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: var(--white-color);
  border-radius: 2px;
  overflow: hidden;
}
.header-right__search-input {
  height: 100%;
  width: 90%;
  outline: none;
  border: none;
  border-right: 1px solid var(--border-color);
  padding: 0px 5px;
}
.header-right__search-btn {
  border: none;
  background-color: var(--white-color);
}
.header-right__search-btn:hover .header-right__search-btn-icon {
  color: var(--primary-color-red);
}
.header-right__search-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.header-right__search-btn-icon {
  color: var(--primary-color);
}
.header-right__user {
  margin: 0 20px;
}
.header-right__user-link {
  padding: 10px;
}
.header-right__user:hover .header-right__user-icon {
  color: var(--primary-color-red);
}
.header-right__user-icon {
  font-size: 1.6rem;
  color: var(--white-color-header);
}
.header-right__cart {
  position: relative;
}
.header-right__cart:hover .header-right__cart-icon {
  color: var(--primary-color-red);
}
.header-right__cart-notice {
  background-color: var(--primary-color-red);
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -5px;
  border-radius: 50%;
  color: var(--white-color-header);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: 2px solid var(--primary-color);
}
.header-right__cart-link {
  padding: 10px;
}
.header-right__cart-icon {
  font-size: 1.6rem;
  color: var(--white-color-header);
}
/* product header  */
.header-product {
  position: absolute;
  top: calc(100%);
  left: -197px;
  right: 0;
  background-color: #fff;
  height: 490px;
  min-width: 1200px;
  z-index: 9;
  border-top: 1px solid var(--primary-color-red);
  display: none;
}
.header-nav__item-show-navProduct:hover .header-product {
  display: block;
}
.header-product__item {
  text-align: center;
}
.header-product__item-img {
  width: 250px;
  border-radius: 6px;
}
.header-product__row-add {
  padding: 30px 0;
}
.header-product__item-text {
  padding: 5px 20px;
}
.border-right-left {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.header-product__item-text-title {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}
.header-product__item-text-list {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}
.header-product__item-text-item {
  position: relative;
  margin: 12px 0;
  transition: right linear 0.3s;
}
.header-product__item-text-item:hover {
  right: -4px;
}
.header-product__item-text-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 300;
}
.header-product__item-text-link:hover {
  color: var(--primary-color-red);
}
@keyframes linkTranformsRight {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(4px);
  }
}
